asgiref==3.8.1
Django==5.2.1
gunicorn==23.0.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
paramiko==3.5.1
wrapt==1.17.2
dj-database-url>=1.0.0