option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: rhIt7KUDA6lIJXYo_2fLX6Cq1FtGknyijKu3HkNNe0CnH1tFnT6sJ0GIoD7pAVsvRG0
    DEBUG: False
    DB_NAME: sc_db
    DB_USER: postgres
    DB_PASSWORD: pT4jN5oCbCD53ynmJr54
    DB_HOST: awseb-e-jrtvr5mpjh-stack-awsebrdsdatabase-jctqvmo694yf.c98es86wumdc.eu-west-2.rds.amazonaws.com
    DB_PORT: 5432

container_commands:
  01_create_database:
    command: |
      export PGPASSWORD='pT4jN5oCbCD53ynmJr54'
      psql -h awseb-e-jrtvr5mpjh-stack-awsebrdsdatabase-jctqvmo694yf.c98es86wumdc.eu-west-2.rds.amazonaws.com -U postgres -c "SELECT 1 FROM pg_database WHERE datname = 'sc_db'" | grep -q 1 || psql -h awseb-e-jrtvr5mpjh-stack-awsebrdsdatabase-jctqvmo694yf.c98es86wumdc.eu-west-2.rds.amazonaws.com -U postgres -c "CREATE DATABASE sc_db;"
    leader_only: true
  02_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations core --noinput"
    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
