option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: 6x_$dznc!y6bwbx4p5zjmlb%a0zxk%x0di14v4f&a^)7tm3=yo
    DEBUG: False
    DB_NAME: sc_db
    DB_USER: postgres
    DB_PASSWORD: pT4jN5oCbCD53ynmJr54
    DB_HOST: sc-db.c98es86wumdc.eu-west-2.rds.amazonaws.com
    DB_PORT: 5432

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true