option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: rhIt7KUDA6lIJXYo_2fLX6Cq1FtGknyijKu3HkNNe0CnH1tFnT6sJ0GIoD7pAVsvRG0
    DEBUG: False
    DB_NAME: sc_db
    DB_USER: postgres
    DB_PASSWORD: pT4jN5oCbCD53ynmJr54
    DB_HOST: sc-db.c98es86wumdc.eu-west-2.rds.amazonaws.com   CHANGE THIS*****
    DB_PORT: 5432

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true